<%= field_wrapper **field_wrapper_args, full_width: true do %>
  <%= content_tag :div, class: "relative block overflow-x-auto max-w-4xl" do %>
    <%= content_tag 'avo-rhino-editor',
      data: {
        controller: "rhino-field",
        blob_url_template: helpers.main_app.rails_service_blob_url(":signed_id", ":filename"),
        direct_upload_url: helpers.main_app.rails_direct_uploads_url,
        action: "rhino-before-initialize->rhino-field#onRhinoBeforeInitialize rhino-initialize->rhino-field#onRhinoInitialize rhino-change->rhino-field#onRhinoChange rhino-paste->rhino-field#onRhinoPaste rhino-selection-change->rhino-field#onRhinoSelectionChange rhino-focus->rhino-field#onRhinoFocus rhino-blur->rhino-field#onRhinoBlur rhino-file-accept->rhino-field#onRhinoFileAccept rhino-attachment-add->rhino-field#onRhinoAttachmentAdd rhino-attachment-remove->rhino-field#onRhinoAttachmentRemove",
        **@field.get_html(:data, view: view, element: :input)
      },
      input: field_id,
      placeholder: @field.placeholder do %>
      <button
        type="button"
        slot="after-link-button"
        class="toolbar__button rhino-toolbar-button flex flex-col items-center grow-0 text-sm hidden-until-rhino-boots-up"
        data-role="toolbar-item"
        tabindex="-1"
        data-action="click->rhino-field#openTextColorPicker"
      >
        <%= helpers.svg "heroicons/outline/swatch", class: "!min-h-4 !max-h-4" %>
        <input
          type="color"
          slot="after-undo-button"
          data-action="input->rhino-field#setTextColor"
          data-rhino-field-target="textColorInput"
          class="h-3.5 w-5 bg-transparent -mt-px -mb-1"
        />
      </button>
      <button
        type="button"
        slot="after-link-button"
        class="toolbar__button rhino-toolbar-button flex flex-col items-center grow-0 text-sm hidden-until-rhino-boots-up"
        data-role="toolbar-item"
        tabindex="-1"
        data-action="click->rhino-field#openBackgroundColorPicker"
      >
        <%= helpers.svg "avo/gradient", class: "!min-h-4 !max-h-4" %>
        <input
          type="color"
          slot="after-undo-button"
          data-action="input->rhino-field#setBackgroundColor"
          data-rhino-field-target="backgroundColorInput"
          class="h-3.5 w-5 bg-transparent -mt-px -mb-1"
        />
      </button>
    <% end %>
    <%= @form.text_area @field.id,
      value: @field.value.try(:to_trix_html) || @field.value,
      class: classes("w-full hidden"),
      data: @field.get_html(:data, view: view, element: :input),
      disabled: disabled?,
      id: field_id,
      placeholder: @field.placeholder,
      style: @field.get_html(:style, view: view, element: :input)
    %>
  <% end %>
<% end %>
