<%= field_wrapper **field_wrapper_args, full_width: true do %>
  <%= content_tag :div, class: "relative block overflow-x-auto max-w-4xl" do %>
    <%= content_tag 'avo-rhino-editor',
      data:,
      input: unique_id,
      class: class_names(unique_id),
      placeholder: @field.placeholder do %>
      <button
        type="button"
        slot="after-link-button"
        class="toolbar__button rhino-toolbar-button flex flex-col items-center grow-0 text-sm hidden-until-rhino-boots-up"
        data-role="toolbar-item"
        tabindex="-1"
        data-action="click->rhino-field#openTextColorPicker"
      >
        <%= helpers.svg "heroicons/outline/swatch", class: "!min-h-4 !max-h-4" %>
        <input
          type="color"
          slot="after-undo-button"
          data-action="input->rhino-field#setTextColor"
          data-rhino-field-target="textColorInput"
          class="h-3.5 w-5 bg-transparent -mt-px -mb-1"
        />
      </button>
      <button
        type="button"
        slot="after-link-button"
        class="toolbar__button rhino-toolbar-button flex flex-col items-center grow-0 text-sm hidden-until-rhino-boots-up"
        data-role="toolbar-item"
        tabindex="-1"
        data-action="click->rhino-field#openBackgroundColorPicker"
      >
        <%= helpers.svg "avo/gradient", class: "!min-h-4 !max-h-4" %>
        <input
          type="color"
          slot="after-undo-button"
          data-action="input->rhino-field#setBackgroundColor"
          data-rhino-field-target="backgroundColorInput"
          class="h-3.5 w-5 bg-transparent -mt-px -mb-1"
        />
      </button>
      <button
        type="button"
        slot="before-attach-files-button"
        class="toolbar__button rhino-toolbar-button flex flex-col items-center grow-0 text-sm hidden-until-rhino-boots-up"
        data-role="toolbar-item"
        tabindex="-1"
        data-action="click->rhino-field#openGallery"
      >
        <%= helpers.svg "heroicons/outline/photo", class: "!min-h-4 !max-h-4" %>
      </button>
    <% end %>
    <%= @form.text_area @field.id,
      value: @field.value.try(:to_trix_html) || @field.value,
      class: classes("w-full hidden"),
      data: @field.get_html(:data, view: view, element: :input),
      disabled: disabled?,
      id: unique_id,
      placeholder: @field.placeholder,
      style: @field.get_html(:style, view: view, element: :input)
    %>
  <% end %>
<% end %>
